//НАЧАЛО: Общие стили =============================
.fa 
  font-size: 28px
.card-border-shadow
  border: 2px solid transparent
  border-radius: 5px
  box-shadow: 0px 6px 29px -9px rgba(207,207,207,1)
a.nav-link
  span
    display: none
@media all and ( max-width: 992px ) 
  .navbar-nav,
  a.nav-link
    padding: 20px 0
  a.nav-link
    span
      display: inline
//КОНЕЦ: Общие стили =============================

//НАЧАЛО СТРАНИЦЫ: Клиентская страница ======================= 
//НАЧАЛО: Стили таблицы клиентской страницы ==================
.wrapper
  overflow-x: auto
  table.product-table-to-buy 
    border-collapse: separate
    border-color: transparent
    thead    
      tr 
        font-weight: bold
        th
          border-bottom-color: transparent
          border-top-color: transparent
          padding: 10px
          &:last-of-type
            border-color: transparent 
    tbody 
      tr   
        th 
          background: #cbdfef  
        td
          border: 1px solid transparent
          background: #cbdfef  
          padding: 10px
          &:hover 
            background: #a2c3dd
            transition-duration: 0.3s
          &:last-child
            background-color: transparent
//КОНЕЦ: Стили таблицы клиентской страницы ==================
//КОНЕЦ СТРАНИЦЫ: Клиентская страница ======================= 


//НАЧАЛО СТРАНИЦЫ: Стили страницы входа в админ панель =======================
//НАЧАЛО: Стили кнопки "назад" ==================
.button-history-back 
  position: absolute
  right: 54px
  top: 40px
  cursor: pointer
  &:hover 
    color: rgba(0,0,0,.7) !important
  @media all and (max-width: 768px) 
    right: 15px
    top: 31px
//КОНЕЦ: Стили кнопки "назад" ==================

//НАЧАЛО: Стили фомы входа ==================
.container-login-form 
  padding: 200px 15px
  @media all and ( max-width: 425px )
    padding: 159px 15px
  .container-login-form__adminForm 
    @media all and ( min-width: 968px )
      width: 50%
      margin: auto
    form 
      .form-group 
        .btn 
          padding: 5px 46px
//КОНЕЦ: Стили фомы входа ==================
//КОНЕЦ СТРАНИЦЫ: Стили страницы входа в админ панель =======================

//НАЧАЛО СТРАНИЦЫ: Главная страница =======================
//НАЧАЛО: Стили карточек ==================
.card-box-chart 
  .card-box-chart__header
    @media all and ( max-width: 768px ) 
      flex-direction: column
.card-form-account-add 
  @media all and ( max-width: 992px ) 
    margin-top: 40px
  .card-form-account-add__form
    .card-form-account-add__form_header
      @media all and ( max-width: 768px ) 
        flex-direction: column
.form-account-selection
  display: none
.active-account-selected 
  display: block
//КОНЕЦ: Стили карточек ==================
//КОНЕЦ СТРАНИЦЫ: Главная страница =======================
      